@model TheWritersNet.Models.SectionModel

<tr>
    @Html.HiddenFor(x => x.SectionID)
    @Html.HiddenFor(x => x.PageID)
    <td>@Model.Title</td>
    <td>
        @Html.LabelFor(x => x.IsSelected, "Include in Page")
        @Html.CheckBoxFor(x => x.IsSelected)
    </td>
    <td>
        @Html.LabelFor(x => x.DisplayTitle)
        @Html.CheckBoxFor(x => x.DisplayTitle)
    </td>
    <td>@Html.TextBoxFor(x => x.Position)</td>
</tr>

