@model TheWritersNet.Models.PageModel

@{
    ViewBag.Title = "Display";
}

@section Styles
{
    <style>
        .link {
            fill: none;
        }

        /* Arrows inherit opacity from .link style */
        /* Default style of link arrows */
        #default {
            fill: #666;
        }

        /* Highlight style of link arrows */
        #highlight {
            fill: red;
        }

        .link.scroll {
            stroke-dasharray: 0,2 1;
        }

        .node circle {
            stroke: #fff;
            stroke-width: 1.5px;
        }

        text {
            opacity: 1;
            pointer-events: none;
        }
    </style>
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/map/d3.v3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/map/double_linked_nodes.js")"></script>
    <script src="@Url.Content("~/Scripts/map/crumb.js")"></script>
    <script src="@Url.Content("~/Scripts/map/network_node.js")"></script>
    <script src="@Url.Content("~/Scripts/map/historic_links.js")"></script>
    <script src="@Url.Content("~/Scripts/map/link_colorer.js")"></script>
    <script src="@Url.Content("~/Scripts/map/map_renderer.js")"></script>

    <script>
        $(document).ready(function () {

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $.ajax({
                url: '/Page/GetMap',
                type: 'POST',
                dataType: 'json',
                data: { order: 'Client_Call', PageID: @Model.PageID },
                success: function (data) {
                    dataLoaded(JSON.parse(data), 1, -3);
                },
                error: function (data) {
                    console.log("failure");
                }
            })

        });
    </script>
}

<button type="button" id="menu-toggle" class="btn btn-info">
    <i class="fas fa-align-left"></i>
    <span>Toggle Map</span>
</button>

@if (Model.DisplayTitle)
{
    <h2>
        @Html.DisplayFor(model => model.Title)
    </h2>
}

@foreach (var item in Model.Sections)
{
    if (item.DisplayTitle)
    {
        <h3>
            @Html.DisplayFor(modelItem => item.Title)
        </h3>
    }

    <p>
        @Html.Raw(item.Text)
    </p>
}
